.location {
  background-color: #EAEAEA;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  i {
    color: #000;
  }

  span {
    font-weight: 500;
  }
}


