.restaurant__banner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.menu {
  background: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -40px;
  padding: 30px 15px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu__title {
      font-family: 'Shrikhand', cursive;
      font-size: 28px;
    }

    .menu__heart {
      position: relative;

      i {
        font-size: 22px;
        position: absolute;
        top: 0;
        left: 0;
        color: #9356DC;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.fa-regular {
          opacity: 1;
        }
      }

      &:hover {
        i.fa-solid {
          opacity: 1;
        }

        i.fa-regular {
          opacity: 0;
        }
      }
    }
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      background-color: #99E2D0;
      margin-top: 5px;
    }
  }

  &__item {
    background: white;
    border-radius: 15px;
    padding: 15px 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;

    &__text {
      flex: 1;

      h3 {
        margin: 0;
        font-size: 18px;
      }

      p {
        margin: 5px 0 0;
        font-size: 15px;
        color: #666;
      }
    }

    &__price {
      font-weight: bold;
      margin-left: 10px;
    }

    &__check {
      color: #99E2D0;
      margin-left: 15px;
      font-size: 20px;
      transform: translateX(20px);
      opacity: 0;
      transition: all 0.3s ease;
    }

    &:hover &__check {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__order {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .btn {
        display: inline-block;
        padding: 16px 42px;
        border: none;
        border-radius: 25px;
        background: linear-gradient(to right, #9356DC, #FF79DA);
        color: white;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease;
    }
  }
}
