.footer {
  width: 100%;
  padding: 25px 20px;
  color: white;
  background-color: #353535;
  box-sizing: border-box;

  // Appliquer le margin-top uniquement si le body a la classe home
  body.home & {
    margin-top: 70px;
  }

  &__logo {
    margin-bottom: 20px;

    img {
      height: 20px;
      filter: brightness(0) invert(1);
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li a {
      color: white;
      text-decoration: none;
      font-weight: 400;

      i {
        margin-right: 10px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
