//Le & en SCSS (Sass) est un sélecteur parent, et il est utilisé pour faire référence à l'élément englobant

.footer {
  width: 100%;
  background-color: #353535;
  color: white;
  padding: 25px 20px;
  box-sizing: border-box;

  &__logo {
    margin-bottom: 20px;

    img {
      height: 20px;
      // Permet d'éclaircir un PNG noir si nécessaire 
      filter: brightness(0) invert(1);
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li a {
      color: white;
      text-decoration: none;
      font-weight: 400;

      i {
        margin-right: 10px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
