.footer {
  width: 100%;
  padding: 25px 20px;
  color: white;
  background-color: #353535;
  box-sizing: border-box;


  &__logo {
    margin-bottom: 20px;

    img {
      height: 20px;
      filter: brightness(0) invert(1);
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li a {
      color: white;
      text-decoration: none;
      font-weight: 400;

      i {
        margin-right: 10px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


// MEDIA QUERIES // 


@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding: 30px 40px;

    &__logo {
      margin: 0;

      img {
        height: 20px;
      }
    }

    &__links {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 30px;
      margin: 0;
      margin-right: 25px;

      li {
        white-space: nowrap;
      }

      li a {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 100px;

    &__links {
      flex-direction: row;
      gap: 40px;
      margin-left: 3vh;
    }

    &__logo {
      margin: 0;
      align-self: flex-end;

      img {
        height: 20px;
      }
    }
  }
}

@media (min-width: 1473px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 100px;

    &__links {
      flex-direction: row;
      gap: 40px;
      margin-left: 93vh;
    }

    &__logo {
      margin: 0;
      align-self: flex-end;

      img {
        height: 20px;
      }
    }
  }
}
