//Le & en SCSS (Sass) est un sélecteur parent, et il est utilisé pour faire référence à l'élément englobant

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;

  &__logo {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
  }
}


.nav--menu {
  display: flex;
  align-items: center;
  padding: 20px;

  .nav__back {
    position: absolute;
    left: 20px;
    font-size: 22px;
    color: black;
  }

  .nav__logo {
    height: 33px;
    margin: 0 auto;
    display: block;
  }
}
