// Gérer la police et la hiérarchie des textes

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

h2, h3, p, a, li, span {
  font-family: 'Roboto', sans-serif;
}